:root {
  /*colar*/
  --white-color : #FFFFFF;
  --black-color : #212529;
  --green-color :#E6F3E6;
  --gray-color : #f8f9fa;
  --beige-color: #FBF7F2;
  --orange-color:#ff6f0f;
  /*size*/
  --padding:12px;
  
  /*font size*/
  --size:62.5% ; /*10px*/
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Noto Sans Korean;
  font-size: var(--size);
  font-weight: 400;
  outline: none;
  color: #212529;
  flex-wrap: nowrap;
}

h1{
  font-weight: 700;
}

li{
  display: inline-block;
}

ul li{
  margin: 1.6rem;
}

.homemain_title{
  font-size: 4rem;
  line-height: 1.35;
  margin-bottom: 2.4rem;
}
.text_m{
  font-size: 1.6rem !important;
  line-height: 1.5;
  letter-spacing: -0.3px;
}
/*index.html*/
a{
  text-decoration: none;
  color: var(--black-color);
}
/*mainbody*/
.theme{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 999;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 1.2rem 1.6rem;
  box-sizing: border-box;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 120rem;
  height: 6.4rem;
}

.main_logo{
  user-select: none;
  display: inline-flex;
  align-items: center;
  margin-right: 4rem;
}

.nav_menu{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 4rem 0 0 ;
}
.nav_ul{
  list-style: none;
  display: inline-block;
}
.nav_list{
  display: inline-block;
  margin: 0;
}
#nav_list_first{
  color: #ff6f0f;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  margin-right: 3rem;
  line-height: 1.32;
  font-size: 1.8rem;
}
.nav_list_other{
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  margin-right: 3rem;
  line-height: 1.32;
  font-size: 1.8rem;
}

.nav_right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_right_logo{
  font: inherit;
  outline: inherit;
  font-family: inherit;
  border-radius: 6px;
  box-sizing: border-box;
  color: #212529;
  text-align: center;
  font-weight: 700;
  margin: 1.6rem 0;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  appearance: none;
  border: 0;
  background: none;
  padding: 0;
  margin-right: 1.6rem;
  display: none;
}
.nav_right_text{
  color: #212124;
  padding: 0;
  margin: 0;
  outline: none;
  display: block;
  position: relative;
  margin-right: 1.2rem;
}
.search_text{
  outline: none;
  font-family: inherit;
  margin: 1.6rem 0;
  box-sizing: border-box;
  height: 4rem;
  padding: 0.9rem 1.2rem;
  border: none;
  border-radius: 0.6rem;
  width: 100%;
  line-height: 1.36;
  font-size: 1.6rem;
}

.nav_right_button1{
  margin: 1.6rem 0;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  appearance: none;
  border: 0;
  background: none;
  padding: 0;
  display: none;
}
.chat{
  font: inherit;
  outline: inherit;
  font-family: inherit;
  text-align: center;
  margin: 1.6rem 0;
  text-decoration: none;
  background: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #d1d3d8;
  width: fit-content;
  padding: 0.8rem 1.4rem;
  border-radius: 0.4rem;
  transition: background-color .15s;
  will-change: background-color;
  min-height: 4rem;
  font-weight: 700;
  line-height: 1.3;
  font-size: 1.6rem;
  display: block;
  white-space: nowrap;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}





.white{
  height: 64px;
}
/* homemain1*/
.main1{
  background-color: var(--beige-color);
  background-size: 2144px 784px;
}

.homemain{
  width: 1024px;
  height: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--beige-color);
  padding: 60px 0px;
  position: relative;
}
.homemain_image1{
  background-size: 804px 685px;
  position: absolute;
  right: -84px;
  bottom: 0;
}
.image1{
  position: absolute;
  right: -84px;
  bottom: 0;
  background-size: 804px 685px;
  width: 804px;
  height: 685px;

  background-color: var(--beige-color);

}
.metadata1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-size: 1024px 475px;
}
.main1_title{  
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.4;
  background-size: 1024px 125px;
  padding-top: 270px;
  margin-bottom: 32px;
}





/*hoemmian2*/
.homemain2{
  padding: 6rem 0 ;
}
.main_image2{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_image2_img{
  background-size: 532px 684px;
  width: 532px;
  height: 684px;
  display: inline-block;
}
.image2{
  background-size: 532px 684px;
  width: 532px;
  height: 684px;

}


.metadata2_3{
  margin-top: 3.2rem;
}

.metadata2_3_button1{
  -webkit-font-smoothing: antialiased;
  margin: 0;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 1.8rem !important;
  line-height: 1.47;
  letter-spacing: -0.3px;
  background-color: #F1F3F5;
  color: #212529;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 1.45rem 2.6rem;
  display: inline-block;
}
.metadata2_3_button2{
  -webkit-font-smoothing: antialiased;
  margin: 0;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 1.8rem !important;
  line-height: 1.47;
  letter-spacing: -0.3px;
  background-color: #F1F3F5;
  color: #212529;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 1.45rem 2.6rem;
  display: inline-block;
  margin-left: 1.6rem;
}
/* homemain3*/
.homemain3{
 padding: 6rem 0;
 background-color: var(--green-color);
 display: block;
}
.main_image3{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
}
.main_image3_img{
  background-size: 564px 740px;
  width: 546px;
  height: 740px;
  display: inline-block;
}
.image3{
  background-size: 564px 740px;
  width: 546px;
  height: 740px;
}


.meta_text3{
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.meta_list{
  margin-right: 4rem;
  margin-left: 0;
  max-width: 14rem;
}
.meta_list_img{
  width: 56px;
  height: 56px;
  background-size: 56px;
}
.meta_list_text_mid{
  font-weight: bold;
  font-size: 1.4 !important;
  line-height: 1.5;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}
.meta_list_text_btm{
  font-size: 1.3rem !important;
  line-height: 1.5;
}
/* homemain4*/
.homemain4{
  padding: 6rem 0;
  display: block;
}
.main_image4{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_image4_img{
  background-size: 526px 735px;
  width: 526px;
  height: 735px;
  display: inline-block;
}
.image4{
  background-size: 526px 735px;
  width: 526px;
  height: 735px;
}
.homemain4_btm{
  background-color: #F1F3F5;
  color: #212529;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 1.45rem 2.6rem;
  display: inline-block;
  font-size: 1.8rem !important;
  line-height: 1.47;
  letter-spacing: -0.3px;
  font-weight: bold;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.metadata4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* image5*/
.homemain5{
  background-color: var(--gray-color);
  background-size: 2144px 1208px;
}
.image5{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color);
}
/*home_keyword*/
.home_keyword{
  width: 1024px;
  margin: 4rem auto;
  text-align: center;
  display: block;
}
.keyword_title{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.6;
  color: #212529;
  text-align: center;
}
.keyword_title_text{
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-size: 1.6rem !important;
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-weight: bold;
}
.keyword_list{
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
  margin-left: 4rem;
  text-align: center;
}
.keyword{
  display: inline-block;
  vertical-align: middle;
  margin-right: 3.2rem;
  font-size: 1.6rem !important;
  line-height: 1.5;
  letter-spacing: -0.3px;
}
.keyword_link{
  text-decoration: none;
  color: #212529;
  font-size: 1.6rem !important;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: -webkit-match-parent;
}





/*login.html*/
.login_top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login_logo{
  color: #ff6f0f;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  margin-bottom: 10px;
  padding : 20px;
  font-size: 4.8rem;
  font-weight: 650;
  line-height: 1;
}

.login_block{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  background-size: 804px 685px;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height:300px;
  border-color: #212529;
  border-style:solid;
  border-width:3px;

}
.id{
  display: flex;
  justify-content: center;
  border-color: #212529;
  border-style:solid;
  border-width:3px;
  font-size:3rem;
  background-color: #FFFFFF; 
  margin-top: 50px;
}

.pw{
  display: flex;
  justify-content: center;
  border-color: #212529;
  font-size:3rem;
  background-color: #FFFFFF; 
  
}

.login_button{
  text-align: center;
  color: #FFFFFF;
  background-color: #ff6f0f;
  margin-top: 20px;
  padding: 0px 100px;
  width: 250px;
  font-size: 3rem;
  
}